* {
  overflow: auto;
}
body {
  background-color: #8ba1bb;
  font-family: Arial;
}
.centre {
  text-align: center;
  width: 100%;
}
p.categorie {
  background-color: #000000;
  color: #ffffff;
  display: inline-block;
  padding: 8px 18px;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 16px;
  margin-top: -20px;
}
div.categorie {
  margin-bottom: 0px;
  margin-top: 0px;
  overflow: visible;
}
div.content {
  background-color: #ffffff;
  margin: 40px 8px 40px 8px;
  padding: 0px 8px 20px 8px;
  box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.1);
  overflow: visible;
}
h1 {
  text-align: center;
  margin-bottom: 12px;
  margin-top: 12px;
}
p.description {
  text-align: center;
  max-width: 400px;
  display: inline-block;
  font-size: 14px;
}
div.description {
  text-align: center;
}
div.separateur {
  width: 100px;
  height: 1px;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
}
table.infos {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  background-color: #6c829dc0;
  height: 50px;
}
table.infos td {
  text-align: center;
  font-size: 12px;
  vertical-align: top;
}
table.infos th {
  font-size: 14px;
  vertical-align: bottom;
  padding-bottom: 8px;
}
div.infos {
  position: relative;
}
img.info {
  display: block;
  max-height: 400px;
  object-fit: cover;
  min-height: 200px;
  background-color: lightgray;
}
div.colonne {
  width: 100%;
  margin-top: 20px;
}
div.colonne h2 {
  text-align: center;
  text-transform: uppercase;
  border-bottom: 5px solid #6c829d;
  padding-bottom: 5px;
}
div.colonne1 {
  display: inline-block;
}

div.ingredients p {
  border: 1px solid lightgray;
  padding: 8px 0;
  text-align: center;
  font-size: 14px;
  margin-top: 4px;
  margin-bottom: 0;
}
table.preparation p.numero {
  background-color: #6c829d;
  color: white;
  width: 25px;
  height: 25px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  box-sizing: border-box;
  padding-top: 4px;
  border-radius: 50%;
  margin: 0;
}
table.preparation td {
  vertical-align: top;
}
table.preparation tr {
  height: 40px;
}
table.preparation td.preparation_etape {
  font-size: 14px;
  padding-left: 10px;
  padding-bottom: 10px;
}
/* ordinateurs  */
@media only screen and (min-width: 768px) {
  div.content {
    min-width: 350px;
    margin: 60px 10% 80px 10%;
    padding: 0px 30px 30px 30px;
  }
  table.infos { 
    height: 80px;
  }
  table.infos td { 
    font-size: 14px; 
  }
  table.infos th {
    font-size: 16px; 
  }
  div.colonne {
    width: 45%; 
  }
  div.colonne1 { 
    margin-right: 10%;
  }
  
  div.colonne2 {
    float: right;
  }
}

/* Ordinateurs avec ecrans très larges */
@media only screen and (min-width: 900px) {
  div.content {
    margin-left: auto;
    margin-right: auto;
    width: 645px;
  }
}